<?xml version="1.0" encoding="utf-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">


	<!-- DAO -->

	<bean id="columnDao"
		class="com.myjs.cek.column.Dao.columnDaoImpl">
		<description>The base dao implement java file</description>
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>


	
	<!-- Services -->
	<bean id="columnService"
		class="com.myjs.cek.column.service.columnServiceImpl">
		<property name="columnDao">
			<ref bean="columnDao" />
		</property>
	</bean>

	<!-- Action -->
	<bean id="columnAction"
		class="com.myjs.cek.column.Action.columnAction">
		<property name="columnService">
			<ref bean="columnService" />
		</property>
	</bean>
	
	
</beans>