<?xml version="1.0" encoding="utf-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">


	<!-- DAO -->

	<bean id="contactPersonDao"
		class="com.myjs.cek.contactperson.Dao.contactPersonDaoImpl">
		<description>The base dao implement java file</description>
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
		<property name="jdbcTemplate">
			<ref bean="jdbcTemplate" />
		</property>
	</bean>


	
	<!-- Services -->
	<bean id="contactPersonService"
		class="com.myjs.cek.contactperson.service.contactPersonServiceImpl">
		<property name="contactPersonDao">
			<ref bean="contactPersonDao" />
		</property>
	</bean>

	<!-- Action -->
	<bean id="contactPersonAction"
		class="com.myjs.cek.contactperson.Action.contactPersonAction">
		<property name="contactPersonService">
			<ref bean="contactPersonService" />
		</property>
	</bean>
	
	
</beans>