<?xml version="1.0" encoding="utf-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">


	<!-- DAO -->

	<bean id="recordcheckformDao"
		class="com.myjs.cek.recordcheckform.Dao.recordcheckformDaoImpl">
		<description>The base dao implement java file</description>
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
		<property name="jdbcTemplate">
			<ref bean="jdbcTemplate" />
		</property>
	</bean>

	<!-- Services -->
	<bean id="recordcheckformService"
		class="com.myjs.cek.recordcheckform.service.recordcheckformServiceImpl">
		<property name="recordcheckformDao">
			<ref bean="recordcheckformDao" />
		</property>
		<property name="fileDao">
			<ref bean="fileDao" />
		</property>
		<property name="memdbDao">
			<ref bean="memdbDao" />
		</property>
	</bean>

	<!-- Action -->
	<bean id="recordcheckformAction"
		class="com.myjs.cek.recordcheckform.Action.recordcheckformAction">
		<property name="recordcheckformService">
			<ref bean="recordcheckformService" />
		</property>
		<property name="variableService">
			<ref bean="variableService"/>
		</property>
	</bean>
	
	
</beans>