<?xml version="1.0" encoding="utf-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">


	<!-- DAO -->

	<bean id="userDao"
		class="com.myjs.sys.user.Dao.userDaoImpl">
		<description>The base dao implement java file</description>
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>

	<!-- Services -->
	<bean id="userService"
		class="com.myjs.sys.user.service.userServiceImpl">
		<property name="userDao">
			<ref bean="userDao" />
		</property>
		<property name="memdbDao">
			<ref bean="memdbDao" />
		</property>
	</bean>

	<!-- Action -->
	<bean id="userAction"
		class="com.myjs.sys.user.Action.userAction">
		<property name="userService">
			<ref bean="userService" />
		</property>
	</bean>
	
	

</beans>