<?xml version="1.0" encoding="utf-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">


	<!-- DAO -->
	<bean id="functionDao" class="com.myjs.sys.module.Dao.functionDaoImpl">
		<description>The base dao implement java file</description>
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
		<property name="jdbcTemplate">
			<ref bean="jdbcTemplate" />
		</property>
	</bean>
	
	<bean id="moduleDao" class="com.myjs.sys.module.Dao.moduleDaoImpl">
		<description>The base dao implement java file</description>
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
		<property name="jdbcTemplate">
			<ref bean="jdbcTemplate" />
		</property>
	</bean>

	<!-- Services -->
	<bean id="functionService" class="com.myjs.sys.module.service.functionServiceImpl">
		<property name="functionDao">
			<ref bean="functionDao"/>
		</property>
		<property name="moduleDao">
			<ref bean="moduleDao"/>
		</property>
		<property name="menuDao">
			<ref bean="menuDao"/>
		</property>
	</bean>

	<!-- Action -->
	<bean id="functionAction" class="com.myjs.sys.module.Action.functionAction">
		<property name="functionService">
			<ref bean="functionService" />
		</property>
	</bean>
	
</beans>