<?xml version="1.0" encoding="utf-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">


	<!-- DAO -->
	<bean id="memdbDao" class="com.myjs.sys.user.Dao.memdbDaoImpl">
		<description>The base dao implement java file</description>
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
		<property name="jdbcTemplate">
			<ref bean="jdbcTemplate" />
		</property>
	</bean>

	<!-- Services -->
	<bean id="loginService" class="com.myjs.sys.login.service.loginServiceImpl">
		<property name="memdbDao">
			<ref bean="memdbDao"/>
		</property>
	</bean>

	<!-- Action -->
	<bean id="loginAction" class="com.myjs.sys.login.Action.loginAction">
		<property name="loginService">
			<ref bean="loginService" />
		</property>
	</bean>
	
	
</beans>